[submodule "themes/hpstr"]
	path = themes/hpstr
	url = https://github.com/dldx/hpstr-hugo-theme
[submodule "themes/diary"]
	path = themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary.git
